{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 100,
	"bracketSameLine": true,
	"arrowParens": "always",
	"bracketSpacing": true,
	"htmlWhitespaceSensitivity": "strict",
	"quoteProps": "as-needed",
	"semi": true,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	],
	"singleAttributePerLine": true,
	"svelteAllowShorthand": false
}
